.cell {
	height: 75px;
	width: 75px;
	color: purple;
	border-style: solid;
	border-color: purple;
	overflow: hidden;
	align-content: center;
}
.ttt-grid {
	margin: auto;
	width: auto;
}

.center {
    margin: auto;
    width: 100	%;
}
.img {
	height: 100%;
	width:100%;
	margin: auto;
}
.btn {
	margin: 10px;
	height: 35px;
	width: 50px;
	padding: 0px;
}